.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    max-height: 5vh;
}

.row button{
    align-self: center;
}

.col {
    flex: 1;
    margin-right: 1em;
    width: 100%;
}

.button-col {
    flex: 1;
    width: 100%;
    flex: .10;
}

.submit{
    display: flex;
    align-self: center;
}