.chatbot {
    height: 65vh;
    margin-bottom: 1.5rem;
}

.question{
    margin-left: 2vh;
    max-width: fit-content;
    display: flex;
}

.response{
    margin-right: 2vh;
    max-width: fit-content;
    display: flex;
}