.chatbot {
    height: 65vh;
    margin-bottom: 1.5rem;
    overflow-y: scroll;
}

.question{
    max-width: fit-content;
    margin: 1rem;
}

.response{
    max-width: fit-content;
    margin-left: 7vh;
}

::ng-deep mat-card {
    margin-bottom: 0;
}